[submodule "fm-core/libs/glfw"]
	path = fm-core/libs/glfw
	url = https://github.com/glfw/glfw
[submodule "fm-core/libs/enet"]
	path = fm-core/libs/enet
	url = https://github.com/zpl-c/enet
[submodule "fm-core/libs/spdlog"]
	path = fm-core/libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "fm-core/libs/nfd"]
	path = fm-core/libs/nfd
	url = https://github.com/btzy/nativefiledialog-extended/
[submodule "fm-core/libs/glm"]
	path = fm-core/libs/glm
	url = https://github.com/icaven/glm
[submodule "fm-core/libs/openal"]
	path = fm-core/libs/openal
	url = https://github.com/kcat/openal-soft
